:root {
    --light-gray: #f0f0f0;
    --dark-gray: #111111;
    --gray: #4a4a4a;
}

nav {
    border-bottom: 1.5px solid;
}

body {
    background-color: var(--light-gray);
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    padding-top: 35px;
    padding-bottom: 35px;
}

p {
    margin: 1px 1px 1px 1px;
}

nav ul li {
    list-style-type: none;
    display: inline;
    padding: 1%;
    font-size: 20px;
}

footer {
    border-top: 1.5px solid;
    padding: 30px 0 0 0;
    clear: both;
}

a:link {
    color: var(--dark-gray);
}

a:visited {
    color: var(--gray);
}

a:hover {
    font-style: italic;
    text-decoration: none;
}

nav a {
    text-decoration: none;
}

nav a:hover {
    font-style: normal;
    color: red;
}